[submodule "Habitalia"]
	path = Habitalia
	url = https://github.com/Enhancifire/Habitalia.git
[submodule "Tag-Indexer"]
	path = Tag-Indexer
	url = https://github.com/Enhancifire/Tag-Indexer.git
[submodule "MedCollApp-Assignment"]
	path = MedCollApp-Assignment
	url = https://github.com/Enhancifire/MedCollApp-Assignment.git
[submodule "RehnumaMedical"]
	path = RehnumaMedical
	url = https://github.com/Enhancifire/Rehnuma-Medical.git
