<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>247732952039-g1strj67fv1pac0sbu1bkgbutf535slq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.247732952039-g1strj67fv1pac0sbu1bkgbutf535slq</string>
	<key>API_KEY</key>
	<string>AIzaSyACVFZX8QPZbh4j6Ax5-p_d13RJ7cpsFZI</string>
	<key>GCM_SENDER_ID</key>
	<string>247732952039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.faizlabs.flutterfire</string>
	<key>PROJECT_ID</key>
	<string>flutterfire-test-feffa</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfire-test-feffa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247732952039:ios:cd1d3a7e7c5fbb0a0a3b42</string>
</dict>
</plist>