<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277312780097-qrsj5p11s97mv95it2jb2plthch5gaso.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277312780097-qrsj5p11s97mv95it2jb2plthch5gaso</string>
	<key>API_KEY</key>
	<string>AIzaSyDF8ytcvlULTbbej6ViBcXuRTzxEjtNjCE</string>
	<key>GCM_SENDER_ID</key>
	<string>277312780097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseNotificationTesting</string>
	<key>PROJECT_ID</key>
	<string>fir-notifications-dac5a</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-notifications-dac5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277312780097:ios:3310a28cd19d25758b93c0</string>
</dict>
</plist>