<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>932040958224-dnbcl5bilht1ujm1iule41voj7d943jg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932040958224-dnbcl5bilht1ujm1iule41voj7d943jg</string>
	<key>API_KEY</key>
	<string>AIzaSyBg79A_0-qqNYwTzfIj5EF9B-0p7CGFno0</string>
	<key>GCM_SENDER_ID</key>
	<string>932040958224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apiAssignment</string>
	<key>PROJECT_ID</key>
	<string>api-assignment-3ced0</string>
	<key>STORAGE_BUCKET</key>
	<string>api-assignment-3ced0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932040958224:ios:288841706718e144670595</string>
</dict>
</plist>